# Mastering TaQL

TaQL is part of [casacore](https://github.com/casacore/casacore), a set of libraries for radio astronomy data processing.

TaQL stands for "Table Query Language", but it can be used also without tables.

## TaQL as a calculator

In [3]:
update bla.MS set DATA[!FLAG]=0

Error in TaQL command: 'using style Python update bla.MS set DATA[!FLAG]=0'
  Table bla.MS does not exist

In [4]:
select rownr() as bla from ~/projects/tim/tim.MS

Select result of 168 rows
bla
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
.
.
.
(68 more rows)

In [5]:
select hdms(DELAY_DIR), "bla" as bla from ~/projects/tim/tim.MS::FIELD

Select result of 1 row
Col_1                        	bla
[01h37m41.299 +033d09m35.132]	bla

In [6]:
select * from (select DELAY_DIR, "bla" from ~/projects/tim/tim.MS::FIELD)

Select result of 1 row
DELAY_DIR                	Col_2
[[ 0.42625  0.57875]] rad	bla

In [7]:
select UVW, ANTENNA1 as ant1, ANTENNA2 as ant2, mscal.ant1name(), mscal.ant2name() from (select from ~/projects/tim/tim.MS limit 10)

Select result of 10 rows
UVW                                 	ant1	ant2	Col_4    	Col_5
[ -89.54565  341.30255 -114.27495] m	0	1	CS001HBA0	CS002HBA0
[ -92.62838  382.63037 -129.69754] m	0	2	CS001HBA0	CS002HBA1
[ -3.08273  41.32783 -15.42259] m	1	2	CS002HBA0	CS002HBA1
[-129.27822  364.70661 -114.699  ] m	0	3	CS001HBA0	CS004HBA1
[-39.73257  23.40407  -0.42405] m	1	3	CS002HBA0	CS004HBA1
[-36.64984 -17.92376  14.99854] m	2	3	CS002HBA1	CS004HBA1
[ 8470.84818 -2334.42248  -949.06666] m	0	4	CS001HBA0	RS106HBA
[ 8560.39382 -2675.72503  -834.79171] m	1	4	CS002HBA0	RS106HBA
[ 8563.47656 -2717.05286  -819.36912] m	2	4	CS002HBA1	RS106HBA
[ 8600.1264  -2699.1291   -834.36766] m	3	4	CS004HBA1	RS106HBA

In [8]:
6*7

42

### Units

## Measures

In [ ]:
select meas.azel("SUN", date()+[0:24]h, "WSRT") deg

Notation of angles

Notation of dates

## Tables

In [ ]:
select mean(DATA[FLAG]) as mymean, WEIGHT from ~/projects/tim/tim.MS limit 2

Columns

limit, offset, etc

Storing the output

### Using groupby

## Structure of a Measurement Set

Example with subquery

Example with mscal

## Baseline selection syntax